<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Running Platform" sequenceNumber="19">
<locations>
<location path="${workspace_loc}/target/delta.pack/eclipse" type="Directory"/>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.linuxtools.ctf.feature.group" version="1.0.0.201206120405"/>
<repository location="http://download.eclipse.org/technology/linuxtools/updates-nightly"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120119162704/repository"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120119162704/repository"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>fr_CA</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms40m -Xmx384m</vmArgs>
</launcherArgs>
</target>
