<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="LTTng Studio target platform" sequenceNumber="46">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.linuxtools.ctf.feature.group" version="1.0.0.201206120405"/>
<repository location="http://download.eclipse.org/technology/linuxtools/updates-nightly"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120119162704/repository"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.8.0.v20120525-1249-8-8nFqlFNOfwKDRF3dXMdHyBC834"/>
<unit id="org.eclipse.rcp.feature.group" version="4.2.0.v20120528-1648-7IAPA7BrHQicRoQXOz0Obz-blRCA"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.2.0.v20120528-1648-7IAPA7BrHQicRoQXOz0Obz-blRCA"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.2.0.I20120531-1500"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>fr_CA</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms40m -Xmx384m</vmArgs>
</launcherArgs>
</target>
